@import url(styles.css);

h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #737373;

}


@keyframes tamaño {
    0% { color:red}
    25% {color:black}
}

.nav.item {
    position:relative;

}
.fas .fa-headphones-alt:hover {
    position:absolute;
    transition: ease-out transform .5s, ease-out left .5s;
    transition-property: transform, left;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
}

main {
    background-color: #ebebeb;
}

.main {
    width: 90%;
    margin: auto;
}

.img-navbar{
    display: flex;
}

.contenedor{
    width: 100%;
    min-height: 100%;
    padding: 5%;
    background-image: url(/img/fondo2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    backdrop-filter: blur(4px) saturate(100%);
    border: 1px solid #17395f42
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
}

::placeholder{
    color: #000000
}

.search-bar button i{
    width: 60%;
}

.search-bar button{
    display:block;
    border: 0;
    border-radius: 50%;
    width: min(100vw, 40px);
    height: min(100vh, 40px);
    cursor: pointer;
    background: transparent;
    transition: .3s;
}

.search-bar button:hover{
    background-color: rgba(173, 172, 172, 0.151);
}

.destacados, .ofertas {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
} 

.producto {
    width: 70%;
    min-height: 30%;
    border-bottom: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 1s;
    margin-top: 5px;
}

.producto:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px #37506C;
    background-color: #8bf0ff25;
}

.imagenes {
    width: 100%;
    max-height: 75%;
    border-radius: 8px 8px 0px 0px;
}


.articulo {
    border-top: 3px solid #37506C;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1.5px solid var(--azulMarino);
    background-color: var(--logo);
    border-radius: 50%;
    position: absolute;    
    left: 20px;
    top: -26px;
    color: var(--blanco);
}

.nombres {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 1.2rem;
    line-height: 26px;
    width: 100%;
}

.borde{
    border-top: 1px solid gray;
    position: relative;
    width: 100%;
    top: 40px;
}

.precios-tarifa{
    width: 45%;
}

.precios {
    color: var(--gris);
    width: 100%;
    position: relative;
    top: 50px;
    left: -5px;
}

.tarifa {
    font-size: 12px;
    width: 100%;
    position: relative;
    top: 45px;
    left: -5px
}

@media (min-width: 420px) {
    .producto {
        width: 45%;
    }
    
    .destacados, .ofertas {
        justify-content: space-between;
    }
}

@media (min-width: 850px) {
    .producto{
        max-width: 22%;
    }
    .nombres {
        padding-top: 15px;
    }

    .precios {
        top: 70px;
        left: -50px;
    }

    .tarifa {
        top: 65px;
        left: -50px
    } 

    .articulo i {
        top: -15px;
        left: 15px;
    }
}