@import url(normalize.css);

@import url(register.css);

@import url(session.css);

@import url(login.css);

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

:root{
    --azulMarino: #37506C;
    --verdoso:#2E9AA1;
    --amarillo: #FEAF56;
    -coral: #FE5857;
    --logo: rgb(64,169,245);
    --hooverbutton: rgb(12, 122, 201);
}

h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #737373;

}

#redes-sociales{
    background-color: #2b609c;
    text-align: center;
    padding: 15px 0 8px;
}

#redes-sociales i {
    padding: 0 10px;
    font-size: 1em;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
     margin-right: auto;
    margin-left:auto;
}

a{
    text-decoration: none;
    color:#fff
}


.list-inline {
    padding-left:0;
    list-style: none;
    margin-left: -5px;
}



.footer-logos-container{
justify-content: space-between;
padding: 1rem;
margin-left: 2rem;
margin-right: 2rem;
}

p {
    font-size: 0.6em;
    text-align: center;
    color: #888;
}

.nav-item {
    display: flex;
    align-items:center;
}

.nav-link,.nav-link.disabled {
    color:#fff;
}


@keyframes tamaño{
    0% { color:red}
    25% {color:black}
}

.nav.item{
    position:relative;
}
.fas .fa-headphones-alt:hover{
    position:absolute;
    transition: ease-out transform .5s, ease-out left .5s;
    transition-property: transform, left;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
}

main{
    background-color: #ebebeb;
}

.main{
    width: 90%;
    margin: auto;
}

.destacados, .ofertas{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
} 

.producto{
    max-width: 200px;
    min-height: 285px;
    border-bottom: 10px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 8px;
}

.producto:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px #37506C;
}

.imagenes{
    width: 100%;
    height: 75%;
    border-radius: 8px 8px 0px 0px;
}

.articulo{
    border-top: 3px solid #37506C;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid #37506C;
    background-color: #FE5857;
    border-radius: 50%;
    position: absolute;    
    left: 20px;
    top: -26px;
    color: #37506C;
    transition:
    ease-in transform .8s,
    ease-in right .8s;
}

.producto:hover .articulo i{
transform: translateX(223px) translateY(-190px) /* rotate(360deg) */;
right: 20px;
}


.nombres-precios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombres{
    font-size: 1.2rem;
    line-height: 26px;
}

.precios{
    color: grey;
}

.tarifa{
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 420px){
    .producto{
        width: 45%;
    }
    
    .destacados, .ofertas{
        justify-content: space-between;
    }
}

@media (min-width: 850px){
    .producto{
        max-width: 22%;
        height: 400px;
    }

    .imagenes{
        height: 200px;
    }

    .precios{
        padding-top: 35px;
    }

    .tarifa{
        padding-top: 35px;
    }

    .articulo i{
        top: -15px;
    }
}