/*Formato Main */

main{
    width: 90%;
    margin: auto;
}

/* Formato de Título */

.registertitle{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #737373;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}

/* Formato de Caja contenedoras de items */

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* Formato de Caja con 2 items */

.stylearticle{
    display: flex;
    align-items: stretch;
    justify-content:space-evenly;
}

/* Formato de Item */

.styledate{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
}

.stylecategories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 5px;
}

/* Formato de etiquetas */

label{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 10px 20px;
    color: #737373;
    border: none;
    width: 50%;
}

input{
    color: #666;
    border: none;
    padding: 5px;
}

/* Button */

.displaybutton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:stretch ;
}

button{
    color: #737373;
    background-color: var(--logo);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-property: background-color;
    transition-duration: 450ms;
}

button:hover{
    background-color:   var(--hooverbutton);
}