@import url(styles.css);

@import url(session.css);

/* Background Conjunto botones */

.background-form{
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Formato de Título */

.registertitle{
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0 , 0, .8);
    margin-top: 20px;
}

/* Formato de Caja contenedoras de items */

.register{
    width: 90%;
}

/* Formato de Item */

.styleform{
    border: 1px rgb(0 0 0 / 12%) solid;
    margin-bottom: 40px;
}

.styledate{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.stylecategories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 12px;
    text-align: center;
    margin: 5px 5px;
    border-radius: 5px;
}

/* Formato de etiquetas */

label{
    color: rgba(0, 0 , 0, .8);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 30px 10px;
    width: 35%;
}

.styleinput{
    display: flex;
    color: rgb(70, 69, 69);
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width:65%;
    box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition:all 200ms;
    position: relative;
}

.styleinput:hover{
    border: 5px var(--logo) solid;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}

/* Button */

.displaybutton{
    margin: 20px 30px;
}
