/* .background-img{
    margin: auto;
    padding: 2%;
    background: url(/design/jeshoots-com-mSESwdMZr-A-unsplash.jpg);
    background-size:cover;
    background-position: center;
} */


@import url(styles.css);


h2 {
    text-align: center;
    margin: 20px 0 10px;
}

.stylesession {
    margin-bottom: 380px;
}

.stylebutton {
    margin: auto;
    text-align: center;
}

button {
    font-size: 14px;
    color: var(--blanco);
    border: 2px transparent solid;
    background-color: var(--logo);
    border-radius: 50px;
    justify-content: center;
    width: 45%;
    margin: 10px 20px 10px;
    padding: 20px;
    transition-property: background-color;
    transition-duration: 450ms;
}

button:hover{
    background-color: var(--hooverbutton);
}

/* input:invalid { 
    border-color: red; 
} 
    
input, input:valid { 
    border-color: #ccc; 
} */

