@import url(index.css);

/* .background-img{
    margin: auto;
    padding: 2%;
    background: url(/design/jeshoots-com-mSESwdMZr-A-unsplash.jpg);
    background-size:cover;
    background-position: center;
} */

h2{
    text-align: center;
    margin: 5% 3%;
}

.stylesession{
    margin-bottom: 380px;
}

.stylebutton{
    margin: auto;
    text-align: center;
}

button{
    color: white;
    background-color: var(rgb(11, 104, 170));
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-property: background-color;
    transition-duration: 450ms;
}

button:hover{
    background-color:   rgb(12, 122, 201);
}