@import url(normalize.css);

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

:root{
    --azulMarino: #37506C;
    --verdoso:#2E9AA1;
    --amarillo: #FEAF56;
    --coral: #FE5857;
    --logo: rgb(64,169,245);
    --hooverbutton:  #2b609c;
    --blanco: #ffff;
    --gris:#888;
}

.nav-link,.nav-link.disabled {
    color: var(--blanco);
}

a{
    text-decoration: none;
    color: var(--blanco);
}

.list-inline {
    padding-left:0;
    list-style: none;
    margin-left: -5px;
}


.hidden-xs{
    background: linear-gradient(to left, #37506C, rgb(32, 15, 58));
    text-align: center;
    padding: 15px 0 8px;
}

.hidden-xs i {
    padding: 0 10px;
    font-size: 1em;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
     margin-right: auto;
    margin-left:auto;
}

a{
    text-decoration: none;
    color: var(--blanco);
}


.footer-logos-container{
    justify-content: space-between;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    }

    .nav-item {
        display: flex;
        align-items:center;
    }

    .copyright {
        font-size: 0.6em;
        text-align: center;
        color: var(--gris);
    }
    

    .navbar-brand{
        background-color: var(--blanco);
        border-radius: 30px;
    } 

    #logo{
        width: 95%;
    }


    .fa-headphones-alt, .fa-shopping-cart,.nav-link .headphones {
        border-width: 2px;
        border-style: solid;
        border-color: var(--blanco);
        border-image: initial;
        border-radius: 65%;
        color: var(--blanco);
        padding: 5px;

    }

    .navbar{
        background: linear-gradient(to left, #37506C, rgb(32, 15, 58))
    }


