<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/formCarga.css">
</head>

<body>
    <%- include('partials/header.ejs'); -%>
    <main>
    <h2>Carga tu producto</h2>
    <form action="/paquetes/formCarga/create" method="post">
        <div class="content">
            <label for="origen">Origen:</label>
            <input type="text" id="origen" name="origen" required>

            <label for="destino">Destino:</label>
            <input type="text" id="destino" name="destino" required>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" required>

            <label for="periodo">Periodo:</label>
            <input type="text" id="periodo" name="periodo" required>

            <label for="file-input" class="custom-file-input">Elige un archivo</label>
            <input type="file" id="file-input" class="archivo" required>

            <label for="traslado">Traslado:</label>
            <input type="text" id="traslado" name="traslado" required>

            <label for="alojamiento">Alojamiento:</label>
            <input type="text" id="alojamiento" name="alojamiento" required>

            <label for="habitacion">Habitacion:</label>
            <input type="text" id="habitacion" name="habitacion" required>

            <label for="dias">Dias:</label>
            <input type="text" id="dias" name="dias" required>

            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </div>
    </form>
</main>
    <%- include('partials/footer.ejs'); -%>
</body>

</html>