<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="En Nos Vamos Volando las mejores ofertas de paquetes turísticos, alquiler de autos y cruceros. Reserva ahora con el mejor precio y servicio"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Nos Vamos Volando</title>
    <link rel="icon" type="image/x-icon" href="/design/android-chrome-192x192.png"/>
    <meta name="keywords" content="viajes,vuelos,agencia,viaje,destinos,paquetes,turismo,avion,pasajes,vacaciones"/>
    <!-------vinculo hoja de estilo normalize-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/807c729568.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <!-------vinculo hoja de estilo css-->
    <link rel="stylesheet" href="/css/index.css" />
    <!-----------vinculo hoja de estilo modal y js-->
    <link rel="stylesheet" href="/css/modal.css" />
    <script src="/js/modal.js"></script>
    <!------fuente Poppins google fonts------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400&family=Poppins:wght@200;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <%- include('partials/header.ejs'); -%>
    <main>
      <div class="contenedor">
        <form action="" class="search-bar">
          <input type="text" placeholder="Busca tu destino" name="q" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <section class="main">
        <!--------------Titulo Destacados--------------------->
        <div class="row title">
          <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-12">
            <hr />
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <h3>Destacados</h3>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-12">
            <hr />
          </div>
        </div>
        <section class="destacados">
          <article class="producto">
            <img src="/img/villa-carlos-paz.jpg" alt="Villa Carlos Paz" class="imagenes"/>
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">Villa Carlos<br>Paz</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$39.631</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/villa-carlos-paz.jpg" alt="Imagen del producto"/>
                    <p>detalle capilla</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <article class="producto">
            <img src="/img/capilla.jpg" alt="Capilla del monte" class="imagenes"/>
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">Capilla del<br>Monte</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$35407</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/capilla.jpg" alt="Imagen del producto" />
                    <p>detalle capilla</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <article class="producto">
            <img src="/img/bariloche.jpeg" alt="Villa Carlos Paz" class="imagenes"/>
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">San Carlos<br>Bariloche</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$40000</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/bariloche.jpg" alt="Imagen del producto" />
                    <p>detalle bariloche</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <article class="producto">
            <img src="/img/cataratas.jpg" alt="Cataratas del iguazu" class="imagenes"/>
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">Cataratas del<br>Iguazu</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$37000</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/cataratas.jpg" alt="Imagen del producto" />
                    <p>detalle cataratas</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
        </section>
        <!--------------Titulo Ofertas--------------------->
        <div class="row title">
          <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-12">
            <hr />
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <h3>Ofertas</h3>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-12">
            <hr />
          </div>
        </div>
        <section class="destacados">
          <article class="producto">
            <img src="/img/mardel.jpg" alt="Mar del Plata" class="imagenes" />
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">Mar del<br>plata</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$34700</h2>
                  <h6 class="tarifa">Tarifa por una persona</h6>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/mardel.jpg" alt="Imagen del producto" />
                    <p>detalle mardel</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <article class="producto">
            <img src="/img/mendoza.jpg" alt="Mendoza" class="imagenes" />
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">Cerro 7 colores<br>Mendoza</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$30000</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/mendoza.jpg" alt="Imagen del producto" />
                    <p>detalle mendoza</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <article class="producto">
            <img src="/img/merlo.jpg" alt="Merlo" class="imagenes" />
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">Merlo<br>San luis</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$33000</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/merlo.jpg" alt="Imagen del producto" />
                    <p>detalle merlo</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <article class="producto">
            <img
              src="/img/bariloche.jpeg"
              alt="Villa Carlos Paz"
              class="imagenes"
            />
            <section class="articulo">
              <i class="fa-solid fa-plane-departure"></i>
              <div class="nombres-precios">
                <h3 class="nombres">San Carlos<br>Bariloche</h3>
                <div class="borde"></div>
                <div class="precios-tarifa">
                  <h2 class="precios">$40000</h2>
                  <h4 class="tarifa">Tarifa por una persona</h4>
                </div>
                <button class="button-model" id="myBtn">Detalle</button>
                <!-------------Modal-->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="/img/bariloche.jpg" alt="Imagen del producto" />
                    <p>detalle Bariloche</p>
                    <div class="desde-hasta">
                      <div class="desde">
                        <label for="desde">Desde:</label>
                        <div>
                          <input type="date" id="desde" value="fecha_actual" />
                        </div>
                      </div>
                      <div class="hasta">
                        <label for="hasta">Hasta:</label>
                        <div>
                          <input type="date" id="hasta" value="fecha_actual" />
                        </div>
                      </div>
                      <button class="button-model">Agregar Viaje</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
        </section>
      </section>
    </main>
    <%- include('partials/footer.ejs'); -%>

    <!--     <script>
      const webLogo = document.querySelector('#logo')
      webLogo.addEventListener('click', () => {
              if(window){
                  window.location.href = '/'
              }else{  
                  alert('Ocurrio un error al redirigir.')
              }
      })
  </script> -->
  </body>
</html>
