<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs'); -%>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/formCarga.css">
    </head>
<body>
    <%- include('partials/header.ejs'); -%>

    <h2>Modifica tu producto</h2>
    <form>
      <div class="content">
        <label for="product-name">Nombre del producto:</label>
        <input type="text" id="product-name" name="product-name">
        
        <label for="product-description">Descripción:</label>
        <textarea id="product-description" name="product-description"></textarea>

        <label for="product-price">Tarifa:</label>
        <input type="text" id="product-tarifa" name="product-tarifa">
        
        <label for="product-price">Precio:</label>
        <input type="number" id="product-price" name="product-price">
        
        <label for="file-input" class="custom-file-input">Elige un archivo</label>
        <input type="file" id="file-input" class="archivo">
        
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
      </div>  
    </form>

    <%- include('partials/footer.ejs'); -%>
</body>
</html>