<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs'); -%>
        <!-------vinculo hoja de estilo css-->
        <link rel="stylesheet" href="/css/productDetail.css" />
    </head>
    <body>
        <%- include('partials/header.ejs'); -%>
        <!-------main------------->
        <main></main>
        <%- include('partials/footer.ejs'); -%>
<!--     <script>
        const webLogo = document.querySelector('#logo')
        webLogo.addEventListener('click', () => {
                if(window){
                    window.location.href = '/'
                }else{  
                    alert('Ocurrio un error al redirigir.')
                }
        })
    </script> -->
    </body>
</html>