<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); -%>
    <!-------vinculo hoja de estilo css-->
    <link rel="stylesheet" href="/css/productCart.css" />
  </head>
  <body>
    <%- include('partials/header.ejs'); -%>
    <!-------main------------->
    <main>
      <div class="car-body">
        <h1>Viajes Elegidos</h1>
        <div class="project">
          <div class="compras">
            <div class="opcion-viaje">
              <img src="./img/villa-carlos-paz.jpg" />
              <div class="info-viaje">
                <h3>Villa Carlos Paz</h3>
                <h4>Valor Paquete $6700</h4>
                <p class="viajeros">
                  Cantidad viajeros: <input name="" value="2" />
                </p>
                <p class="boton">
                  <i aria-hidden="true" class="fa fa-trash"></i>
                  <span class="btn2">Eliminar</span>
                </p>
              </div>
            </div>
            <div class="opcion-viaje">
              <img src="./img/cataratas.jpg" />
              <div class="info-viaje">
                <h3>Cataratas del Iguazu</h3>
                <h4>Valor Paquete $8900</h4>
                <p class="viajeros">
                  Cantidad de viajeros: <input name="" value="1" />
                </p>
                <p class="boton">
                  <i aria-hidden="true" class="fa fa-trash"></i>
                  <span class="btn2">Eliminar</span>
                </p>
              </div>
            </div>
            <div class="opcion-viaje">
              <img src="./img/mardel.jpg" />
              <div class="info-viaje">
                <h3>Mar del Plata</h3>
                <h4>Valor Paquete $6700</h4>
                <p class="viajeros">
                  Cantidad de viajeros: <input name="" value="0" />
                </p>
                <p class="boton">
                  <i aria-hidden="true" class="fa fa-trash"></i>
                  <span class="btn2">Eliminar</span>
                </p>
              </div>
            </div>
          </div>
          <div class="right-section">
            <p><span>Subtotal</span> <span>$22300</span></p>
            <hr />
            <p><span>Impuestos (21%)</span> <span>$5000</span></p>
            <hr />
            <p><span>Recargo Agencia</span> <span>$1000</span></p>
            <hr />
            <p><span>Total</span> <span>$141</span></p>
            <a href="#"><i class="fa fa-shopping-cart"></i>Comprar</a>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs'); -%>

    <!--         <script>
            const webLogo = document.querySelector('#logo')
            webLogo.addEventListener('click', () => {
                    if(window){
                        window.location.href = '/'
                    }else{  
                        alert('Ocurrio un error al redirigir.')
                    }
            })
        </script> -->
  </body>
</html>
