<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
          name="description"
          content="En Nos Vamos Volando las mejores ofertas de paquetes turísticos, alquiler de autos y cruceros. Reserva ahora con el mejor precio y servicio"
        />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
        <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <title>Nos Vamos Volando</title>
        <link rel= 'icon' type="image/x-icon" href="/design/android-chrome-192x192.png">
        <meta name="keywords" content="viajes,vuelos,agencia,viaje,destinos,paquetes,turismo,avion,pasajes,vacaciones"/>
        <!-------vinculo hoja de estilo normalize-->
        <link rel="stylesheet" href="/css/normalize.css" />
        <!-- Iconos -->
        <script src="https://kit.fontawesome.com/807c729568.js" crossorigin="anonymous"></script>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <!-------vinculo hoja de estilo css-->
        <link rel="stylesheet" href="/css/productDetail.css" />
        <!------fuente Poppins google fonts------->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400&family=Poppins:wght@200;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/header.ejs'); -%>
        <!-------main------------->
        <main></main>
        <%- include('partials/footer.ejs'); -%>
<!--     <script>
        const webLogo = document.querySelector('#logo')
        webLogo.addEventListener('click', () => {
                if(window){
                    window.location.href = '/'
                }else{  
                    alert('Ocurrio un error al redirigir.')
                }
        })
    </script> -->
    </body>
</html>