<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="En Nos Vamos Volando las mejores ofertas de paquetes turísticos, alquiler de autos y cruceros. Reserva ahora con el mejor precio y servicio"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Nos Vamos Volando</title>
    <link rel= 'icon' type="image/x-icon" href="/design/android-chrome-192x192.png">
    <meta name="keywords" content="viajes,vuelos,agencia,viaje,destinos,paquetes,turismo,avion,pasajes,vacaciones"/>
    <!-------vinculo hoja de estilo normalize-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!------------- Iconos -------------->
    <script src="https://kit.fontawesome.com/807c729568.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <!-------vinculo hoja de estilo css-->
    <link rel="stylesheet" href="/css/register.css" />
    <!------fuente Poppins google fonts------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400&family=Poppins:wght@200;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #37506C;">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img id="logo" src="/design/Logo_volando.png" width="50" height="50" alt="logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                  <a class="nav-link" href="#">Paquetes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Vuelos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Alojamiento</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Traslados</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="session.html">Iniciar Sesión</a>
                  </li>
                  <li class="nav-item">
                    <i class="fas fa-headphones-alt"></i>
                    <a class="nav-link headphones" href="tel:0810 888 810">Para Ventas <strong>0810 888 810</strong></a>
                </li>
                  <li class="nav-item carrito" style="display:flex";>
                    <i class="fas fa-shopping-cart"></i>
                    <a class="nav-link" href="productCart.html" style="position:absolute"; ></a>
                </li>
              </ul>
              <form role="search">
                  <input class="form-control" type="search" placeholder="Encontrá tu destino" aria-label="Search" style="width:20rem">
              </form>
            </div>
          </div>
        </nav>
      </header>
    <main class="background-img">
      <div class="background-form">
        <h2 class="registertitle">Mi cuenta</h2>
        <section class="styleform">
        <form action="register.html" method="post" class="register">
            <article class="stylearticle">
            <div class="styledate">
                <label for="email">Usuario</label>
                <br>
                <input class="styleinput"  type='email' name="email" id="email" placeholder="Indique su email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            </div>
            </article>
<!--             <article class="stylearticle">           
            <div class="styledate">
                <label for="foto">Foto de perfil</label>
                <br>
                <input type='file' name="foto" id="foto" accept=".jpg" placeholder="Inserte foto de usuari@" required>
            </div>
            </article> -->
            <article class="stylearticle">
            <div class="styledate">
                <label for="name">Nombre</label>
                <br>
                  <input class="styleinput" type='text' name="name" id="name" placeholder="Indique su nombre" maxlength="60" mb-form-field-input="" pattern="[A-Za-z ]+" title="Solo debe poseer letras" required>
              </div>
            <div class="styledate">
                <label for="surname">Apellido</label>
                <br>
                <input class="styleinput"  type='text' name="surname" id="surname" placeholder="Indique su apellido" maxlength="60" mb-form-field-input="" pattern="[A-Za-z ]+" title="Solo debe poseer letras" required>
            </div>
            </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="birthdate">Fecha de nacimiento</label>
                <br>
                <input class="styleinput"  type='date' name="birthdate" id="birthdate" placeholder="Indique su fecha de nacimiento" required>
            </div>
            </article>
            <article class="stylearticle">
              <div class="styledate">
                  <label for="phone">Teléfono</label>
                  <br>
                  <input class="styleinput"  type='tel' name="phone" id="phone" placeholder="Indique su número telefónico" pattern="[0-9]{4}+-[0-9]{4}+-[0-9.-]{4}$" required>
              </div>
              </article>
<!--             <article class="stylearticle">
            <div class="styledate">
                <label for="domicilio"></label>
                <br>
                <input type='text' name="domicilio" id="domicilio" placeholder="Indique su domicilio" required>
            </div>
            <div class="styledate">
                <label for="ciudad"></label>
                <br>
                <input type='text' name="ciudad" id="ciudad" placeholder="Indique su ciudad" required>
            </div>
            </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="provincia"></label>
                <br>
                <input type='text' name="provincia" id="provincia" placeholder="Indique su provincia" required>
            </div>
            <div class="styledate">
                <label for="provincia"></label>
                <br>
                <input type='text' name="pais" id="pais" placeholder="Indique su pais" required>
            </div>
            </article> -->
<!--             <article class="stylearticle">
            <div class="stylecategories">
                <label for="categorias">Categorias de Interés</label>
                <br>
                    <input type="checkbox" name="categorias">Montañas
                    <input type="checkbox" name="categorias">Playas
                    <input type="checkbox" name="categorias">Visitas históricas
                    <input type="checkbox" name="categorias">Paisajes
                    <input type="checkbox" name="categorias">Excursiones
                    <input type="checkbox" name="categorias">Comidas
           
            </article> -->
            <article class="stylearticle">
            <div class="styledate">
                <label for="password">Password</label>
                <br>
                <input class="styleinput"  type='password' name="password" id="password" placeholder="Password" pattern=".{6,}" title="6 o mas caracteres" required>
            </div>
            </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="confpassword">Confirmar Password</label>
                <br>
                <input class="styleinput"  type='password' name="confpassword" id="confpassword" placeholder="Confirme Password" pattern=".{6,}" title="6 o mas caracteres" required>
            </div>
            </article>
          </section>
            <article class="displaybutton">
            <button type="reset">Borrar datos</button>
            <button type="submit">Enviar</a></button>
            </article>
        </form>
      </div>
    </main>
    <!--------------Redes Sociales--------------------->
    <section class="hidden-xs">
      <div class="container">
          <ul class="list-unstyled list-inline">
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://es-la.facebook.com/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
      </div>
    </section>
  <footer>
    <div class="eva-3-row footer-logos-container -eva-3-hide-small -fluid -no-gutter" style="display:flex;"> 
      <div class="footer-logo-item"> 
        <img src="/design/descarga4.webp" alt="Iata" title="Iata" class="footer-image-item">
      </div> 
      <div class="footer-logo-item"> 
        <a href="http://www.jus.gov.ar/datos-personales.aspx/" target="_blank" rel="nofollow noopener"> 
          <img src="/design/descarga3.webp" alt="Pdp" title="Pdp" class="footer-image-item"> 
        </a> 
      </div> 
      <div class="footer-logo-item"> 
        <a href="http://qr.afip.gob.ar/?qr=7ynzfbEsT3bJi2hL6MRo6w,," target="_blank" rel="nofollow noopener"> 
          <img src="/design/descarga.jpeg" alt="Data Fiscal" title="Data Fiscal" class="footer-image-item"> 
        </a> 
      </div> 
      <div class="footer-logo-item"> 
        <a href="http://servicios.turismo.gob.ar/agencias/constancia/legajo/10680" target="_blank" rel="nofollow noopener"> 
          <img src="/design/descarga2.jpeg" alt="Ministerio de Turismo" title="Ministerio de Turismo" class="footer-image-item"> 
        </a> 
      </div> 
    </div>
      <p class="copyright"> &copy;Digital House 2022 | Powered and designed by Group 10 Desarrollo Full Stack </p>
  </footer>

<!--   <script>
    const webLogo = document.querySelector('#logo')
    webLogo.addEventListener('click', () => {
            if(window){
                window.location.href = '/'
            }else{  
                alert('Ocurrio un error al redirigir.')
            }
    })
</script> -->
  </body>
</html>