<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); -%>
    <!-------vinculo hoja de estilo css-->
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include('partials/header.ejs'); -%>
    <main class="background-img">
      <div class="background-form">
        <h2 class="registertitle">Mi cuenta</h2>
        <section class="styleform">
        <form action="/register" method="post" class="register">
            <article class="stylearticle">
            <div class="styledate">
                <label for="email">Usuario</label>
                <br>
                <input class="styleinput"  type='email' name="email" id="email" placeholder="Indique su email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            </div>
            </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="name">Nombre</label>
                <br>
                  <input class="styleinput" type='text' name="name" id="name" placeholder="Indique su nombre" maxlength="60" mb-form-field-input="" pattern="[A-Za-z ]+" title="Solo debe poseer letras" required>
              </div>
            <div class="styledate">
                <label for="surname">Apellido</label>
                <br>
                <input class="styleinput"  type='text' name="surname" id="surname" placeholder="Indique su apellido" maxlength="60" mb-form-field-input="" pattern="[A-Za-z ]+" title="Solo debe poseer letras" required>
            </div>
            </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="birthdate">Fecha de nacimiento</label>
                <br>
                <input class="styleinput"  type='date' name="birthdate" id="birthdate" placeholder="Indique su fecha de nacimiento" required>
            </div>
            </article>
            <article class="stylearticle">
              <div class="styledate">
                  <label for="phone">Teléfono</label>
                  <br>
                  <input class="styleinput"  type='tel' name="phone" id="phone" placeholder="Indique su número telefónico" pattern="[0-9]{4}+-[0-9]{4}+-[0-9.-]{4}$" required>
              </div>
              </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="password">Password</label>
                <br>
                <input class="styleinput"  type='password' name="password" id="password" placeholder="Contraseña" pattern=".{6,}" title="6 o mas caracteres" required>
            </div>
            </article>
            <article class="stylearticle">
            <div class="styledate">
                <label for="confpassword">Confirmar Password</label>
                <br>
                <input class="styleinput"  type='password' name="confpassword" id="confpassword" placeholder="Confirme Contraseña" pattern=".{6,}" title="6 o mas caracteres" required>
            </div>
            </article>
          </section>
            <article class="displaybutton">
            <button type="reset">Borrar datos</button>
            <button type="submit">Enviar</a></button>
            </article>
        </form>
      </div>
    </main>
    <%- include('partials/footer.ejs'); -%>

<!--   <script>
    const webLogo = document.querySelector('#logo')
    webLogo.addEventListener('click', () => {
            if(window){
                window.location.href = '/'
            }else{  
                alert('Ocurrio un error al redirigir.')
            }
    })
</script> -->
  </body>
</html>