<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); -%>
    <!-------vinculo hoja de estilo css-->
    <link rel="stylesheet" href="/css/session.css" />
  </head>
  <body>
    <%- include('partials/header.ejs'); -%>
    <main class="background-img">
      <div class="stylesession">
      <article class="stylebutton">
        <h2>Si no está registrado ingrese aquí</h2>
            <button type="register"><a class="nav-link" href="/register">Registrese</a></button>
      </article> 
      <article class="stylebutton">  
        <h2>Si ya tiene cuenta ingrese aquí</h2>       
            <button type="login"><a class="nav-link" href="/login">Login</a></button>
      </article>
      </div>  
    </main>
    <%- include('partials/footer.ejs'); -%>

  <!--   <script>
  <script>
    const webLogo = document.querySelector('#logo')
    webLogo.addEventListener('click', () => {
            if(window){
                window.location.href = '/'
            }else{  
                alert('Ocurrio un error al redirigir.')
            }
    })
</script> -->
  </body>
</html>