<footer>
<section class="redes sociales hidden-xs">
   <div class="container">
     <ul class="list-unstyled list-inline">
       <li>
         <a href="https://www.instagram.com/" target="_blank">
           <i class="fab fa-instagram"></i>
         </a>
         <a href="https://es-la.facebook.com/" target="_blank">
           <i class="fab fa-facebook-f"></i>
         </a>
         <a href="https://www.twitter.com/" target="_blank">
           <i class="fab fa-twitter"></i>
         </a>
         <a href="https://www.linkedin.com/" target="_blank">
           <i class="fab fa-linkedin-in"></i>
         </a>
       </li>
     </ul>
   </div>
</section>
   <div class="eva-3-row footer-logos-container -eva-3-hide-small -fluid -no-gutter" style="display: flex">
     <div class="footer-logo-item">
       <img src="/design/descarga4.webp" alt="Iata" title="Iata" class="footer-image-item"/>
     </div>
     <div class="footer-logo-item">
        <a href="http://www.jus.gov.ar/datos-personales.aspx/" target="_blank" rel="nofollow noopener">
         <img src="/design/descarga3.webp" alt="Pdp" title="Pdp" class="footer-image-item"/>
        </a>
     </div>
     <div class="footer-logo-item">
       <a href="http://qr.afip.gob.ar/?qr=7ynzfbEsT3bJi2hL6MRo6w,," target="_blank" rel="nofollow noopener">
         <img src="/design/descarga.jpeg" alt="Data Fiscal" title="Data Fiscal" class="footer-image-item"/>
       </a>
     </div>
     <div class="footer-logo-item">
       <a href="http://servicios.turismo.gob.ar/agencias/constancia/legajo/10680" target="_blank" rel="nofollow noopener">
         <img src="/design/descarga2.jpeg" alt="Ministerio de Turismo" title="Ministerio de Turismo" class="footer-image-item"/>
       </a>
     </div>
   </div>
   <p class="copyright"> &copy;Digital House 2022 | Powered and designed by Group 10 Desarrollo Full Stack</p>
 </footer>